.section {
  background-color: #08023c;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.container {
  max-width: 1425px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container > * + * {
  margin-top: 1.5rem;
}
.firstCol {
}

.logoContainer {
  display: flex;
  color: #ffffff;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.logo {
  width: 100px;
}

.contentContainer > * + * {
  margin-top: 1rem;
}

.text {
  color: #ffffff;
  max-width: 396px;
  /* Dapps Secure Server. This is not an app but a protocol that */
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: rgba(255, 255, 255, 0.5);
}

.line {
  width: 431px;
  margin: 0 auto;
  border: 1px solid rgba(232, 241, 255, 0.33);
}

@media screen and (min-width: 945px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .line {
    margin-top: 2rem;
    width: 1331px;
  }
}
